.jumbotron0 {
  width: 100%;
  background-image: url("../img/landing.jpg");
}

.header {
  width: 100%;
  background: #F15A29;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
  tom: 1px solid #dddddd;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
  ight: 60px;
  border-bottom: 1px solid #dddddd;
  tom: 1px solid #dddddd;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
}

.logo {
  float: inherit;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.subcont-left {
  color: black;
  min-height: 200px;
  background-color: #F15A29;
}

.breakfast, .lunch, .dinner {
  min-height: 200px;
}

.breakfast {
  background-image: url("../img/breakfast.jpg");
}

.lunch {
  background-image: url("../img/lunch.jpg");
}

.dinner {
  background-image: url("../img/dinner2.jpg");
}

.jumbotron1 {
  text-align: center;
  margin-top: 0px;
  background-image: url(../img/foodsBg.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron3 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0px;
  background-image: url(../img/subscribe.jpg);
  background-position: 0% 25%;
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron4 {
  float: inherit;
  padding-top: 80px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  min-height: 350px;
  background-color: #F15A29;
  margin-top: px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: black 0.3em 0.3em 0.3em;
}
